<%
=begin%>
<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>
      </div>
    </div>
  </article>

</section>
<%
=end%>

<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if enhanced_cart.empty? %>
  <div class="alert alert-info" role="alert">
    <h4>Your cart is empty!</h4>
    <p>Looks like you haven't added anything to your cart yet.</p>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-primary' %>
  </div>
  <% else %>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% enhanced_cart.each do |item| %>
        <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol cart_subtotal_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-amount="<%= cart_subtotal_cents %>" data-name="Jungle" data-description="Khurram Virani's Jungle Order" data-locale="auto" data-email="kvirani@gmail.com" data-currency="cad">
      </script>
      <% end %>
    </div>
  </div>
  <% end %>

</section>